Checks: >
  -*,
  pycc-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  hicpp-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
FormatStyle: none
